@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

:root {
  --font-family: 'Poppins', sans-serif;
  --font-white: #f4f4f4;
  --font-black: #343a40;
  --black: black;
  --white: white;
  --hero-img-size: 260px;
  --font-alt-white: #e24727;
  --font-alt-black: #e24727;
  --color-selection: rgba(255, 74, 41, 0.3);
  --black-bg-opacity: 0.2;
  --white-bg-opacity: 0.5;
}

a:link,
a:visited,
a:active {
  color: var(--font-black);
}

a:hover {
  color: var(--font-alt-black);
}

.dark-theme a:link,
.dark-theme a:visited,
.dark-theme a:active {
  color: var(--font-white);
}

.dark-theme a:hover {
  color: var(--font-alt-white);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-selection);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family);
  background-color: var(--black);
  color: var(--font-black);
}

.dark-theme {
  background-color: var(--black) !important;
  color: var(--font-white) !important;
}

.container {
  background-color: var(--white);
  color: var(--font-black);
  height: 100%;
  width: 100%;
}

.bg-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity: var(--white-bg-opacity);
}

.dark-theme .bg-container {
  opacity: var(--black-bg-opacity);
}

.bg {
  height: 100%;
  transform: scale(1);
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.bg.slider1 {
  background-image: url('../assets/images/slider-1.jpg');
  animation: 14s bg-animation infinite;
}

.bg.slider2 {
  background-image: url('../assets/images/slider-2.jpg');
  animation: 14s bg-animation 7s infinite;
}

@keyframes bg-animation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  60% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

button,
button:active,
button:focus {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  color: inherit;
}

.action-theme-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.action-theme-container .btn-transparent {
  cursor: pointer;
  background: transparent;
  font-size: 1.2rem;
}

.dark-theme .i-dark, .i-light {
  display: none;
}

.i-dark, .dark-theme .i-light {
  display: inline-block;
}

.action-theme-container i {
  font-size: 1.2rem;
}

.hero-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  animation: 1s animated-opacity 1s forwards; 
}

@keyframes animated-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-container .hero-content {
  width: 100%;
  text-align: center;
}

.hero-container .hero-text {
  margin-top: 1rem;
}

.hero-container .hero-img-thumbnail {
  width: var(--hero-img-size);
  height: var(--hero-img-size);
  border-radius: 50%;

  border: 1px solid #c1c1c1;
  background-color: white;
  padding: 0.25rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-container .hero-img-thumbnail.show {
  opacity: 1;
}

.dark-theme .hero-container .hero-img-thumbnail {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
}

.hero-text .name {
  font-size: 1.75rem;
  line-height: 1.618;
  font-weight: 500;
}

.hero-text .stack {
  line-height: 1.618;
  font-size: 2.1rem;
  font-weight: 500;
}

.hero-text .stack .alt-text {
  color: var(--font-alt-black);
}

.dark-theme .hero-text .stack .alt-text {
  color: var(--font-alt-white);
}

.hero-text .stack .typed-cursor {
  color: var(--font-white);
  margin-left: -6px;
  font-weight: 300;
  animation: animated-cursor 800ms infinite;
}

@keyframes animated-cursor {
  from {
    color: var(--font-white);
  }
  to {
    color: transparent;
  }
}

.social {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.social .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.social .list-inline-item i {
  font-size: 1.2rem;
}

ul.list-inline {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li.list-inline-item {
  display: inline;
}

